In [39]:
import pandas as pd

In [40]:
raw_player_df = pd.read_csv('raw_player.csv')

In [41]:
raw_goalie_df = pd.read_csv('raw_goalie.csv')

In [42]:
raw_goalie_df

      Unnamed: 0            Player   Nation   Min  GA  Saves  Save%
0              0           Alisson   br BRA  39.0   0      2  100.0
1              1            Adrián   es ESP  51.0   1      3   75.0
2              0          Tim Krul   nl NED  90.0   4      3   42.9
3              0  Łukasz Fabiański   pl POL  90.0   5      4   44.4
4              0           Ederson   br BRA  90.0   0      3  100.0
...          ...               ...      ...   ...  ..    ...    ...
2110           0  Thibaut Courtois   be BEL  90.0   3      4   57.1
2111           0            Adrián   es ESP  90.0   1      6   85.7
2112           0   Jordan Pickford  eng ENG  90.0   3      1   25.0
2113           0       Hugo Lloris   fr FRA  90.0   4      5   55.6
2114           0   Eldin Jakupović   ch SUI  90.0   5      2   28.6

[2115 rows x 7 columns]

In [43]:
raw_player_df

,Unnamed: 0,Player,#,Nation,Pos,Min,Gls,Ast,xG,npxG,xA,Sh,SoT,Fls,Fld,Crs,TklW,Int,CrdY,CrdR
0,0,Roberto Firmino,9,br BRA,FW,86.0,0,1,0.9,0.9,0.4,4,1,0,1,0,1,0,0,0
1,1,James Milner,7,eng ENG,CM,4.0,0,0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0
2,2,Divock Origi,27,be BEL,LW,74.0,1,0,0.2,0.2,0.0,1,1,0,2,4,3,1,0,0
3,3,Sadio Mané,10,sn SEN,LW,16.0,0,0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0
4,4,Mohamed Salah,11,eg EGY,RW,90.0,1,1,0.3,0.3,0.2,2,1,1,1,7,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28876,9,Harry Maguire,15,eng ENG,CB,90.0,0,0,0.4,0.4,0.0,4,1,0,1,0,2,5,0,0
28877,10,Wes Morgan,5,jm JAM,CB,90.0,0,0,0.0,0.0,0.0,0,0,0,0,0,0,3,0,0
28878,11,Danny Simpson,2,eng ENG,RB,56.0,0,0,0.0,0.0,0.0,0,0,1,1,0,0,3,0,0
28879,12,Hamza Choudhury,38,eng ENG,RB,34.0,0,0,0.0,0.0,0.0,1,0,2,1,0,0,4,1,0
28880,13,Eldin Jakupović,17,ch SUI,GK,90.0,0,0,0.0,0.0,0.0,0,0,0,1,0,0,0,0,0

In [44]:
raw_player_df.columns

Index(['Unnamed: 0', 'Player', '#', 'Nation', 'Pos', 'Min', 'Gls', 'Ast', 'xG',
       'npxG', 'xA', 'Sh', 'SoT', 'Fls', 'Fld', 'Crs', 'TklW', 'Int', 'CrdY',
       'CrdR'],
      dtype='object')

In [45]:
clean_player_df = raw_player_df.drop(['Unnamed: 0'], axis=1)

In [46]:
# Orginal player count
clean_player_df['Player'].value_counts()

Jordan Pickford      105
David de Gea         104
Ben Foster           104
César Azpilicueta    102
Jack Cork            102
                    ...
Faustino Anjorin       1
Ben Johnson            1
Will Norris            1
Sullay Kaikai          1
John Ruddy             1
Name: Player, Length: 825, dtype: int64

In [47]:
# Orginal position count
clean_player_df['Pos'].value_counts()

CM    5885
CB    4975
FW    4282
DM    2318
GK    2114
RB    1833
LB    1829
RW    1660
LW    1610
AM    1583
WB     783
DF       5
MF       4
Name: Pos, dtype: int64

In [48]:
# Orginal goalie count
raw_goalie_df['Player'].value_counts()

Jordan Pickford    105
Ben Foster         104
David de Gea       104
Mathew Ryan        101
Ederson            100
                  ...
Jed Steer            1
Simon Moore          1
Joel Coleman         1
Boaz Myhill          1
Will Norris          1
Name: Player, Length: 66, dtype: int64

In [49]:
# get one position per player 
clean_player_df['Pos'] = clean_player_df['Pos'].map(lambda x: x.split(',')[0])
clean_player_df

,Player,#,Nation,Pos,Min,Gls,Ast,xG,npxG,xA,Sh,SoT,Fls,Fld,Crs,TklW,Int,CrdY,CrdR
0,Roberto Firmino,9,br BRA,FW,86.0,0,1,0.9,0.9,0.4,4,1,0,1,0,1,0,0,0
1,James Milner,7,eng ENG,CM,4.0,0,0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0
2,Divock Origi,27,be BEL,LW,74.0,1,0,0.2,0.2,0.0,1,1,0,2,4,3,1,0,0
3,Sadio Mané,10,sn SEN,LW,16.0,0,0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0
4,Mohamed Salah,11,eg EGY,RW,90.0,1,1,0.3,0.3,0.2,2,1,1,1,7,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28876,Harry Maguire,15,eng ENG,CB,90.0,0,0,0.4,0.4,0.0,4,1,0,1,0,2,5,0,0
28877,Wes Morgan,5,jm JAM,CB,90.0,0,0,0.0,0.0,0.0,0,0,0,0,0,0,3,0,0
28878,Danny Simpson,2,eng ENG,RB,56.0,0,0,0.0,0.0,0.0,0,0,1,1,0,0,3,0,0
28879,Hamza Choudhury,38,eng ENG,RB,34.0,0,0,0.0,0.0,0.0,1,0,2,1,0,0,4,1,0
28880,Eldin Jakupović,17,ch SUI,GK,90.0,0,0,0.0,0.0,0.0,0,0,0,1,0,0,0,0,0

In [50]:
# Remove player instances with no minutes played
clean_player_df = clean_player_df[clean_player_df['Min'].notna()]
clean_player_df['Player'].value_counts()

Jordan Pickford      105
Ben Foster           104
David de Gea         104
César Azpilicueta    102
Jack Cork            102
                    ...
Ben Johnson            1
Leon Clarke            1
Marc Navarro           1
Rekeem Harper          1
Antonio Barreca        1
Name: Player, Length: 820, dtype: int64

In [51]:
# Remove all none match stats - players
clean_player_df = clean_player_df.drop(['#', 'Nation'], axis=1)
clean_player_df['Player'].value_counts()

Jordan Pickford      105
Ben Foster           104
David de Gea         104
César Azpilicueta    102
Jack Cork            102
                    ...
Ben Johnson            1
Leon Clarke            1
Marc Navarro           1
Rekeem Harper          1
Antonio Barreca        1
Name: Player, Length: 820, dtype: int64

In [52]:
clean_player_df

,Player,Pos,Min,Gls,Ast,xG,npxG,xA,Sh,SoT,Fls,Fld,Crs,TklW,Int,CrdY,CrdR
0,Roberto Firmino,FW,86.0,0,1,0.9,0.9,0.4,4,1,0,1,0,1,0,0,0
1,James Milner,CM,4.0,0,0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0
2,Divock Origi,LW,74.0,1,0,0.2,0.2,0.0,1,1,0,2,4,3,1,0,0
3,Sadio Mané,LW,16.0,0,0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0
4,Mohamed Salah,RW,90.0,1,1,0.3,0.3,0.2,2,1,1,1,7,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28876,Harry Maguire,CB,90.0,0,0,0.4,0.4,0.0,4,1,0,1,0,2,5,0,0
28877,Wes Morgan,CB,90.0,0,0,0.0,0.0,0.0,0,0,0,0,0,0,3,0,0
28878,Danny Simpson,RB,56.0,0,0,0.0,0.0,0.0,0,0,1,1,0,0,3,0,0
28879,Hamza Choudhury,RB,34.0,0,0,0.0,0.0,0.0,1,0,2,1,0,0,4,1,0
28880,Eldin Jakupović,GK,90.0,0,0,0.0,0.0,0.0,0,0,0,1,0,0,0,0,0

In [53]:
clean_player_df['Pos'].value_counts()

CM    5799
CB    4957
FW    4197
DM    2301
GK    2112
RB    1826
LB    1823
RW    1626
LW    1576
AM    1546
WB     773
DF       2
MF       2
Name: Pos, dtype: int64

In [54]:
clean_player_df[clean_player_df['Pos'] == "MF"]

,Player,Pos,Min,Gls,Ast,xG,npxG,xA,Sh,SoT,Fls,Fld,Crs,TklW,Int,CrdY,CrdR
10937,Stefan Johansen,MF,25.0,0,0,0.0,0.0,0.1,0,0,0,0,0,0,0,0,0
25243,Ander Herrera,MF,20.0,0,0,0.0,0.0,0.0,0,0,1,0,0,0,1,0,0

In [55]:
clean_player_df[clean_player_df['Pos'] == "DF"]

,Player,Pos,Min,Gls,Ast,xG,npxG,xA,Sh,SoT,Fls,Fld,Crs,TklW,Int,CrdY,CrdR
17409,James Milner,DF,15.0,1,0,0.8,0.0,0.0,0,0,1,0,1,1,0,1,0
26805,Dejan Lovren,DF,20.0,0,0,0.0,0.0,0.0,0,0,0,0,0,1,1,0,0

In [56]:
#clean_player_df['Forwards'] = clean_player_df.filter([RW], [LW], [FW])

In [57]:
def position_group (row):
    if row['Pos'] == 'FW' or row['Pos'] == 'RW' or row['Pos'] == 'LW':    
        return 'Forward'
    if row['Pos'] == 'CM' or row['Pos'] == 'DM' or row['Pos'] == 'AM' or row['Pos'] == 'MF':    
        return 'Midfield'
    if row['Pos'] == 'CB' or row['Pos'] == 'RB' or row['Pos'] == 'LB' or row['Pos'] == 'WB' or row['Pos'] == 'DF':    
        return 'Defender'
    return row['Pos']

In [58]:
clean_player_df['position_group'] = clean_player_df.apply (lambda row: position_group(row), axis=1)

In [59]:
clean_player_df

,Player,Pos,Min,Gls,Ast,xG,npxG,xA,Sh,SoT,Fls,Fld,Crs,TklW,Int,CrdY,CrdR,position_group
0,Roberto Firmino,FW,86.0,0,1,0.9,0.9,0.4,4,1,0,1,0,1,0,0,0,Forward
1,James Milner,CM,4.0,0,0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,Midfield
2,Divock Origi,LW,74.0,1,0,0.2,0.2,0.0,1,1,0,2,4,3,1,0,0,Forward
3,Sadio Mané,LW,16.0,0,0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,Forward
4,Mohamed Salah,RW,90.0,1,1,0.3,0.3,0.2,2,1,1,1,7,0,0,0,0,Forward
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28876,Harry Maguire,CB,90.0,0,0,0.4,0.4,0.0,4,1,0,1,0,2,5,0,0,Defender
28877,Wes Morgan,CB,90.0,0,0,0.0,0.0,0.0,0,0,0,0,0,0,3,0,0,Defender
28878,Danny Simpson,RB,56.0,0,0,0.0,0.0,0.0,0,0,1,1,0,0,3,0,0,Defender
28879,Hamza Choudhury,RB,34.0,0,0,0.0,0.0,0.0,1,0,2,1,0,0,4,1,0,Defender
28880,Eldin Jakupović,GK,90.0,0,0,0.0,0.0,0.0,0,0,0,1,0,0,0,0,0,GK

In [60]:
clean_player_df['position_group'].value_counts()

Midfield    9648
Defender    9381
Forward     7399
GK          2112
Name: position_group, dtype: int64

In [61]:
clean_player_df = clean_player_df[clean_player_df['Pos'] != "GK" ]

In [62]:
clean_player_df

,Player,Pos,Min,Gls,Ast,xG,npxG,xA,Sh,SoT,Fls,Fld,Crs,TklW,Int,CrdY,CrdR,position_group
0,Roberto Firmino,FW,86.0,0,1,0.9,0.9,0.4,4,1,0,1,0,1,0,0,0,Forward
1,James Milner,CM,4.0,0,0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,Midfield
2,Divock Origi,LW,74.0,1,0,0.2,0.2,0.0,1,1,0,2,4,3,1,0,0,Forward
3,Sadio Mané,LW,16.0,0,0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,Forward
4,Mohamed Salah,RW,90.0,1,1,0.3,0.3,0.2,2,1,1,1,7,0,0,0,0,Forward
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28875,Christian Fuchs,LB,90.0,0,0,0.0,0.0,0.0,0,0,1,0,1,0,4,0,0,Defender
28876,Harry Maguire,CB,90.0,0,0,0.4,0.4,0.0,4,1,0,1,0,2,5,0,0,Defender
28877,Wes Morgan,CB,90.0,0,0,0.0,0.0,0.0,0,0,0,0,0,0,3,0,0,Defender
28878,Danny Simpson,RB,56.0,0,0,0.0,0.0,0.0,0,0,1,1,0,0,3,0,0,Defender
28879,Hamza Choudhury,RB,34.0,0,0,0.0,0.0,0.0,1,0,2,1,0,0,4,1,0,Defender

In [63]:
clean_player_df["Premier League"] = "PL"
clean_player_df

/Users/hunter/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Player,Pos,Min,Gls,Ast,xG,npxG,xA,Sh,SoT,Fls,Fld,Crs,TklW,Int,CrdY,CrdR,position_group,Premier League
0,Roberto Firmino,FW,86.0,0,1,0.9,0.9,0.4,4,1,0,1,0,1,0,0,0,Forward,PL
1,James Milner,CM,4.0,0,0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,Midfield,PL
2,Divock Origi,LW,74.0,1,0,0.2,0.2,0.0,1,1,0,2,4,3,1,0,0,Forward,PL
3,Sadio Mané,LW,16.0,0,0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,Forward,PL
4,Mohamed Salah,RW,90.0,1,1,0.3,0.3,0.2,2,1,1,1,7,0,0,0,0,Forward,PL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28875,Christian Fuchs,LB,90.0,0,0,0.0,0.0,0.0,0,0,1,0,1,0,4,0,0,Defender,PL
28876,Harry Maguire,CB,90.0,0,0,0.4,0.4,0.0,4,1,0,1,0,2,5,0,0,Defender,PL
28877,Wes Morgan,CB,90.0,0,0,0.0,0.0,0.0,0,0,0,0,0,0,3,0,0,Defender,PL
28878,Danny Simpson,RB,56.0,0,0,0.0,0.0,0.0,0,0,1,1,0,0,3,0,0,Defender,PL
28879,Hamza Choudhury,RB,34.0,0,0,0.0,0.0,0.0,1,0,2,1,0,0,4,1,0,Defender,PL

In [64]:
clean_player_df.columns

Index(['Player', 'Pos', 'Min', 'Gls', 'Ast', 'xG', 'npxG', 'xA', 'Sh', 'SoT',
       'Fls', 'Fld', 'Crs', 'TklW', 'Int', 'CrdY', 'CrdR', 'position_group',
       'Premier League'],
      dtype='object')

In [65]:
players_2020_df = pd.read_csv('current_prem_players.csv')

In [66]:
player_names = list(players_2020_df['Unnamed: 1'])

In [67]:
player_names = player_names[1:]

In [68]:
clean_player_df = clean_player_df[clean_player_df['Player'].isin(player_names)]
clean_player_df

,Player,Pos,Min,Gls,Ast,xG,npxG,xA,Sh,SoT,Fls,Fld,Crs,TklW,Int,CrdY,CrdR,position_group,Premier League
0,Roberto Firmino,FW,86.0,0,1,0.9,0.9,0.4,4,1,0,1,0,1,0,0,0,Forward,PL
1,James Milner,CM,4.0,0,0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,Midfield,PL
2,Divock Origi,LW,74.0,1,0,0.2,0.2,0.0,1,1,0,2,4,3,1,0,0,Forward,PL
3,Sadio Mané,LW,16.0,0,0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,Forward,PL
4,Mohamed Salah,RW,90.0,1,1,0.3,0.3,0.2,2,1,1,1,7,0,0,0,0,Forward,PL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28872,Riyad Mahrez,CM,90.0,1,2,0.1,0.1,0.5,2,2,1,1,4,1,1,0,0,Midfield,PL
28875,Christian Fuchs,LB,90.0,0,0,0.0,0.0,0.0,0,0,1,0,1,0,4,0,0,Defender,PL
28876,Harry Maguire,CB,90.0,0,0,0.4,0.4,0.0,4,1,0,1,0,2,5,0,0,Defender,PL
28877,Wes Morgan,CB,90.0,0,0,0.0,0.0,0.0,0,0,0,0,0,0,3,0,0,Defender,PL
28879,Hamza Choudhury,RB,34.0,0,0,0.0,0.0,0.0,1,0,2,1,0,0,4,1,0,Defender,PL

In [69]:
clean_player_df.to_csv('cleaned_players.csv', index = False)

In [70]:
clean_goalie_df = raw_goalie_df.drop(['Unnamed: 0'], axis=1)

In [71]:
# Remove goalie instances with no minutes played
clean_goalie_df = clean_goalie_df[clean_goalie_df['Min'].notna()]
clean_goalie_df['Player'].value_counts()

Jordan Pickford      105
Ben Foster           104
David de Gea         104
Mathew Ryan          101
Kasper Schmeichel    100
                    ...
John Ruddy             1
Jed Steer              1
Simon Moore            1
Joel Coleman           1
Boaz Myhill            1
Name: Player, Length: 65, dtype: int64

In [72]:
# Remove all none match stats - goalies
clean_goalie_df = clean_goalie_df.drop(['Nation'], axis=1)
clean_goalie_df['Player'].value_counts()

Jordan Pickford      105
Ben Foster           104
David de Gea         104
Mathew Ryan          101
Kasper Schmeichel    100
                    ...
John Ruddy             1
Jed Steer              1
Simon Moore            1
Joel Coleman           1
Boaz Myhill            1
Name: Player, Length: 65, dtype: int64

In [73]:
clean_goalie_df

                Player   Min  GA  Saves  Save%
0              Alisson  39.0   0      2  100.0
1               Adrián  51.0   1      3   75.0
2             Tim Krul  90.0   4      3   42.9
3     Łukasz Fabiański  90.0   5      4   44.4
4              Ederson  90.0   0      3  100.0
...                ...   ...  ..    ...    ...
2110  Thibaut Courtois  90.0   3      4   57.1
2111            Adrián  90.0   1      6   85.7
2112   Jordan Pickford  90.0   3      1   25.0
2113       Hugo Lloris  90.0   4      5   55.6
2114   Eldin Jakupović  90.0   5      2   28.6

[2113 rows x 5 columns]

In [74]:
clean_goalie_df.to_csv('cleaned_goalies.csv', index = False)