In [1]:
#Import all dependencies
import json
import requests
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pathlib import Path

In [6]:
# Import scraped csv and create dataframes

players_file_path = Path('player_list.csv')
stats_file_path = Path('player_stats.csv')

players_list_df = pd.read_csv(players_file_path, low_memory=False)
players_stats_df = pd.read_csv(stats_file_path, low_memory=False)

# Transform players_stats_df

In [7]:
# Make a copy
player_stats_ready_df = players_stats_df.copy()

#Do simple transformations
player_stats_ready_df["player_id"] = player_stats_ready_df["player_id"].replace({'player_':''}, regex=True)
player_stats_ready_df["calendar"] = player_stats_ready_df["calendar"].replace({'_3_calendar':''}, regex=True)
player_stats_ready_df["calendar"] = player_stats_ready_df["calendar"].replace({'_2_calendar':''}, regex=True)
player_stats_ready_df["calendar"] = player_stats_ready_df["calendar"].replace({'_1_calendar':''}, regex=True)
player_stats_ready_df["calendar"] = player_stats_ready_df["calendar"].replace({'championship_':''}, regex=True)
player_stats_ready_df["match_id"] = player_stats_ready_df["match_id"].replace({'match_':''}, regex=True)
player_stats_ready_df["match_id"] = player_stats_ready_df["match_id"].replace({'_stats':''}, regex=True)
player_stats_ready_df["match_rate"] = player_stats_ready_df["match_rate"].replace({'-':'0'}, regex=True)
player_stats_ready_df["percentage_pass"] = player_stats_ready_df["percentage_pass"].replace({'-':'0'}, regex=True)

#Change types when needed
player_stats_ready_df["player_id"] = player_stats_ready_df["player_id"].astype(str).astype(int)
player_stats_ready_df["match_id"] = player_stats_ready_df["match_id"].astype(str).astype(int)
player_stats_ready_df["match_rate"] = player_stats_ready_df["match_rate"].astype(str).astype(float)
player_stats_ready_df["calendar"] = player_stats_ready_df["calendar"].astype(str).astype(int)
player_stats_ready_df["percentage_pass"] = player_stats_ready_df["percentage_pass"].astype(str).astype(float)

#Drop redundant columns
player_stats_ready_df = player_stats_ready_df.drop(["last_name"], axis=1)

# Replace NaN with 0
player_stats_ready_df = player_stats_ready_df.fillna(0)

# Tranform match_date
player_stats_ready_df["match_date"] = pd.to_datetime(player_stats_ready_df["match_date"])
player_stats_ready_df["match_date"] = player_stats_ready_df["match_date"].dt.date
player_stats_ready_df["match_date"] = pd.to_datetime(player_stats_ready_df["match_date"])

player_stats_ready_df

,player_id,calendar,number_of_matches,total_appearances,starter,sub_in,sub_out,match_date,season_day,match_id,...,total_tackle,touches,was_fouled,won_contest,yellow_card,penalty_save,penalty_faced,saves,dive_save,stand_save
0,101148,2017,38,34,32,1,1,2018-05-13,38,919268,...,1.0,34.0,1.0,0.0,0,0.0,0.0,0.0,0.0,0.0
1,101148,2017,38,34,32,1,1,2018-05-05,37,919261,...,1.0,92.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0
2,101148,2017,38,34,32,1,1,2018-04-28,36,919248,...,0.0,85.0,1.0,0.0,0,0.0,0.0,0.0,0.0,0.0
3,101148,2017,38,34,32,1,1,2018-04-23,35,919237,...,1.0,39.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0
4,101148,2017,38,34,32,1,1,2018-04-15,34,919228,...,0.0,30.0,1.0,0.0,0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24545,98747,2019,29,29,29,0,0,2019-08-17,2,1059712,...,0.0,0.0,0.0,0.0,0,0.0,0.0,7.0,1.0,0.0
24546,98747,2019,29,29,29,0,0,2019-08-10,1,1059704,...,0.0,0.0,0.0,0.0,0,0.0,0.0,3.0,1.0,1.0
24547,98770,2019,29,3,1,2,0,2020-01-12,22,1059913,...,0.0,0.0,0.0,0.0,0,0.0,0.0,5.0,0.0,0.0
24548,98770,2019,29,3,1,2,0,2020-01-01,21,1059904,...,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0
24549,98770,2019,29,3,1,2,0,2019-11-10,12,1059821,...,0.0,0.0,0.0,0.0,0,0.0,0.0,3.0,0.0,0.0

# Merge players_stats_df and players_list_df

In [8]:
# Merge DataFrames
all_epl_players_ready_df = player_stats_ready_df.merge(players_list_df, how='left', on='player_id')
all_epl_players_ready_df

,player_id,calendar,number_of_matches,total_appearances,starter,sub_in,sub_out,match_date,season_day,match_id,...,penalty_save,penalty_faced,saves,dive_save,stand_save,last_name,first_name,position,club,team_id
0,101148,2017,38,34,32,1,1,2018-05-13,38,919268,...,0.0,0.0,0.0,0.0,0.0,Lascelles,Jamaal,2,Newcastle,4
1,101148,2017,38,34,32,1,1,2018-05-05,37,919261,...,0.0,0.0,0.0,0.0,0.0,Lascelles,Jamaal,2,Newcastle,4
2,101148,2017,38,34,32,1,1,2018-04-28,36,919248,...,0.0,0.0,0.0,0.0,0.0,Lascelles,Jamaal,2,Newcastle,4
3,101148,2017,38,34,32,1,1,2018-04-23,35,919237,...,0.0,0.0,0.0,0.0,0.0,Lascelles,Jamaal,2,Newcastle,4
4,101148,2017,38,34,32,1,1,2018-04-15,34,919228,...,0.0,0.0,0.0,0.0,0.0,Lascelles,Jamaal,2,Newcastle,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24545,98747,2019,29,29,29,0,0,2019-08-17,2,1059712,...,0.0,0.0,7.0,1.0,0.0,Pope,Nick,1,Burnley,90
24546,98747,2019,29,29,29,0,0,2019-08-10,1,1059704,...,0.0,0.0,3.0,1.0,1.0,Pope,Nick,1,Burnley,90
24547,98770,2019,29,3,1,2,0,2020-01-12,22,1059913,...,0.0,0.0,5.0,0.0,0.0,Nyland,Ørjan,1,Aston Villa,7
24548,98770,2019,29,3,1,2,0,2020-01-01,21,1059904,...,0.0,0.0,0.0,0.0,0.0,Nyland,Ørjan,1,Aston Villa,7
24549,98770,2019,29,3,1,2,0,2019-11-10,12,1059821,...,0.0,0.0,3.0,0.0,0.0,Nyland,Ørjan,1,Aston Villa,7

In [9]:
# Reorganize columns
cols = ['player_id', 'first_name', 'last_name', 'position', 'team_id', 'club', 'calendar', 'number_of_matches', 'total_appearances', 'starter', 'sub_in', 'sub_out', 'match_id', 'season_day', 'match_date', 'minutes_played', 'match_rate', 'goals', 'sub', 'accurate_back_zone_pass', 'accurate_cross_nocorner', 'accurate_fwd_zone_pass', 'accurate_long_balls', 'accurate_pass', 'att_pen_goal', 'att_pen_miss', 'att_pen_post', 'att_pen_target', 'big_chance_created', 'big_chance_missed', 'clean_sheet', 'duel_lost', 'duel_won', 'error_lead_to_goal', 'failed_cross', 'fouls', 'goal_assist', 'goals_conceded', 'interception_won', 'lost_contest', 'own_goals', 'percentage_pass', 'poss_lost_ctrl', 'red_card', 'shot_off_target', 'total_back_zone_pass', 'total_contest', 'total_cross_nocorner', 'total_fwd_zone_pass', 'total_long_balls', 'total_pass', 'total_scoring_att', 'total_tackle', 'touches', 'was_fouled', 'won_contest', 'yellow_card', 'penalty_save', 'penalty_faced', 'saves', 'dive_save', 'stand_save']
all_epl_players_ready_df = all_epl_players_ready_df[cols]

# Reorder dataframe
all_epl_players_ready_df = all_epl_players_ready_df.sort_values(['calendar', 'club', 'position', 'last_name', 'season_day'], ascending=[1, 1, 1, 1, 1])
all_epl_players_ready_df = all_epl_players_ready_df.reset_index(drop=True)

# Save as csv
all_epl_players_ready_df.to_csv('all_epl_players_ready_df.csv', index=True)

all_epl_players_ready_df

,player_id,first_name,last_name,position,team_id,club,calendar,number_of_matches,total_appearances,starter,...,total_tackle,touches,was_fouled,won_contest,yellow_card,penalty_save,penalty_faced,saves,dive_save,stand_save
0,98980,Emiliano,Martínez,1,3,Arsenal,2017,38,36,5,...,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0
1,98980,Emiliano,Martínez,1,3,Arsenal,2017,38,36,5,...,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0
2,98980,Emiliano,Martínez,1,3,Arsenal,2017,38,36,5,...,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0
3,98980,Emiliano,Martínez,1,3,Arsenal,2017,38,36,5,...,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0
4,98980,Emiliano,Martínez,1,3,Arsenal,2017,38,36,5,...,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24545,102057,Raúl,Jiménez,4,39,Wolverhampton,2019,29,29,28,...,1.0,41.0,2.0,4.0,0,0.0,0.0,0.0,0.0,0.0
24546,102057,Raúl,Jiménez,4,39,Wolverhampton,2019,29,29,28,...,1.0,50.0,2.0,4.0,0,0.0,0.0,0.0,0.0,0.0
24547,102057,Raúl,Jiménez,4,39,Wolverhampton,2019,29,29,28,...,0.0,42.0,0.0,1.0,1,0.0,0.0,0.0,0.0,0.0
24548,102057,Raúl,Jiménez,4,39,Wolverhampton,2019,29,29,28,...,1.0,48.0,0.0,3.0,0,0.0,0.0,0.0,0.0,0.0
24549,102057,Raúl,Jiménez,4,39,Wolverhampton,2019,29,29,28,...,0.0,52.0,2.0,0.0,0,0.0,0.0,0.0,0.0,0.0

# Extracting forward matches with >45 mns played

In [10]:
# Filter DataFrame
forward_epl_players_ready_df = all_epl_players_ready_df[(all_epl_players_ready_df["position"]==4) & (all_epl_players_ready_df["minutes_played"]>45)]
forward_epl_players_ready_df = forward_epl_players_ready_df.reset_index(drop=True)

# Save as csv
forward_epl_players_ready_df.to_csv('forward_epl_players_ready_df.csv', index=True)

forward_epl_players_ready_df

,player_id,first_name,last_name,position,team_id,club,calendar,number_of_matches,total_appearances,starter,...,total_tackle,touches,was_fouled,won_contest,yellow_card,penalty_save,penalty_faced,saves,dive_save,stand_save
0,54694,Pierre-Emerick,Aubameyang,4,3,Arsenal,2017,38,13,12,...,1.0,25.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0
1,54694,Pierre-Emerick,Aubameyang,4,3,Arsenal,2017,38,13,12,...,0.0,23.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0
2,54694,Pierre-Emerick,Aubameyang,4,3,Arsenal,2017,38,13,12,...,0.0,27.0,0.0,2.0,0,0.0,0.0,0.0,0.0,0.0
3,54694,Pierre-Emerick,Aubameyang,4,3,Arsenal,2017,38,13,12,...,1.0,29.0,1.0,1.0,0,0.0,0.0,0.0,0.0,0.0
4,54694,Pierre-Emerick,Aubameyang,4,3,Arsenal,2017,38,13,12,...,0.0,24.0,1.0,1.0,0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3114,102057,Raúl,Jiménez,4,39,Wolverhampton,2019,29,29,28,...,1.0,41.0,2.0,4.0,0,0.0,0.0,0.0,0.0,0.0
3115,102057,Raúl,Jiménez,4,39,Wolverhampton,2019,29,29,28,...,1.0,50.0,2.0,4.0,0,0.0,0.0,0.0,0.0,0.0
3116,102057,Raúl,Jiménez,4,39,Wolverhampton,2019,29,29,28,...,0.0,42.0,0.0,1.0,1,0.0,0.0,0.0,0.0,0.0
3117,102057,Raúl,Jiménez,4,39,Wolverhampton,2019,29,29,28,...,1.0,48.0,0.0,3.0,0,0.0,0.0,0.0,0.0,0.0
3118,102057,Raúl,Jiménez,4,39,Wolverhampton,2019,29,29,28,...,0.0,52.0,2.0,0.0,0,0.0,0.0,0.0,0.0,0.0